Repository pushpendra-factors/testflow, changes with the owners that CODEOWNERS names for each.
All owners: aravind@factors.ai, dinesh@factors.ai, janani@factors.ai, maisa@factors.ai, kartheek+1@factors.ai, anil@factors.ai, anshul@factors.ai, vinith@factors.ai, sumit@factors.ai, ashhar@factors.ai, baliga@factors.ai, akhil@factors.ai, jitesh@factors.ai, vikas@factors.ai, deepak@factors.ai

Revert Onboard flow for new users (#7994)
  frontend-new/src/Views/Settings/SetupAssist/Welcome/index.js
  frontend-new/src/Views/Settings/SetupAssist/Welcome/index.module.scss
Owners: baliga@factors.ai

Changes for Email Share API for Six Signal (#7982)
  backend/src/factors/handler/routes.go
  backend/src/factors/handler/six_signal.go
  backend/src/factors/model/model/six_signal.go
  backend/src/factors/util/email_templates.go
  backend/src/factors/util/util_time.go
Owners: aravind@factors.ai, dinesh@factors.ai, anil@factors.ai, janani@factors.ai, kartheek+1@factors.ai

Stagfix - csv upload, alert, custom event (#7999)
  frontend-new/src/Views/PathAnalysis/PathAnalysisReport/QueryBuilder/GlobalFilter/GlobalFilterSelect/index.js
  frontend-new/src/Views/Settings/ProjectConfigure/CustomKPI/EventFilter/GlobalFilter/GlobalFilterSelect/index.js
  frontend-new/src/Views/Settings/ProjectConfigure/CustomKPI/GlobalFilter/GlobalFilterSelect/index.js
  frontend-new/src/Views/Settings/ProjectConfigure/Events/SmartEvents/SmartEventsForm.js
  frontend-new/src/Views/Settings/ProjectSettings/Alerts/KPIBasedAlert/index.js
  frontend-new/src/components/AttrQueryComposer/FaFilterSelectKPI/index.js
  frontend-new/src/components/FaFilterSelect/index.js
  frontend-new/src/components/KPIComposer/FaFilterSelectKPI/index.js
  frontend-new/src/components/KPIComposer/GlobalFilter/GlobalFilterSelect/index.js
  frontend-new/src/components/ProfileComposer/GlobalFilter/GlobalFilterSelect/index.js
  frontend-new/src/components/QueryComposer/GlobalFilter/GlobalFilterSelect/index.js
Owners: baliga@factors.ai, akhil@factors.ai, vikas@factors.ai

list payload (#8001)
  backend/src/factors/handler/v1/event_names.go
Owners: aravind@factors.ai, dinesh@factors.ai

custom date range support (#8000)
  backend/src/factors/config/config.go
  backend/src/factors/model/store/memsql/dashboard_unit.go
  backend/src/factors/scripts/run_cache_dashboard_queries/run_cache_dashboard_queries.go
Owners: dinesh@factors.ai, janani@factors.ai, anil@factors.ai, kartheek+1@factors.ai

StagFix - FaSelect icon flag default set to false (#7971)
  frontend-new/src/Views/AppLayout/index.js
  frontend-new/src/Views/CoreQuery/AnalysisResultsPage/AnalysisHeader.js
  frontend-new/src/Views/Dashboard/ProjectDropdown.js
  frontend-new/src/Views/PathAnalysis/PathAnalysisReport/QueryBuilder/QueryBlock/index.js
  frontend-new/src/Views/Settings/ProjectConfigure/CustomKPI/QueryBlock/index.js
  frontend-new/src/components/AttrQueryComposer/AttrFilterSelect/index.js
  frontend-new/src/components/AttrQueryComposer/MarkTouchpointBlock/index.js
  frontend-new/src/components/FaSelect/index.js
  frontend-new/src/components/Profile/AccountProfiles/AccountTimelineBirdView/index.js
  frontend-new/src/components/Profile/AccountProfiles/index.js
  frontend-new/src/components/Profile/MyComponents/EventInfoCard/index.js
  frontend-new/src/components/Profile/MyComponents/InfoCard/index.js
  frontend-new/src/components/Profile/UserProfiles/UserTimelineBirdview/index.js
  frontend-new/src/components/Profile/UserProfiles/index.js
  frontend-new/src/components/QueryComposer/QueryBlock/index.js
  frontend-new/src/features/attribution/ui/report/AttrQueryComposer/ConversionGoalBlock/index.js
  frontend-new/src/features/attribution/ui/report/AttrQueryComposer/LinkedEventsBlock/index.js
  frontend-new/src/features/attribution/ui/report/AttrQueryComposer/MarkTouchpointBlock/index.js
  frontend-new/src/features/attribution/ui/report/SaveAttributionQuery/index.js
  frontend-new/src/styles/components/_select.scss
Owners: akhil@factors.ai, baliga@factors.ai, jitesh@factors.ai, vikas@factors.ai

Sapia debug logs (#8004)
  backend/src/factors/model/model/attribution.go
  backend/src/factors/model/store/memsql/attribution.go
  backend/src/factors/model/store/memsql/attribution_marketing.go
Owners: anil@factors.ai, dinesh@factors.ai, janani@factors.ai, kartheek+1@factors.ai

currency param shifted (#8005)
  backend/src/factors/model/store/memsql/attribution_marketing.go
Owners: anil@factors.ai, dinesh@factors.ai, janani@factors.ai, kartheek+1@factors.ai

fixing empty strings (#8008)
  backend/src/factors/handler/v1/event_names.go
Owners: aravind@factors.ai, dinesh@factors.ai

Dashboard caching - compare gbp - db and response (#8006)
  backend/src/Dockerfile.dashboard_caching_queries_comparision
  backend/src/Makefile
  backend/src/factors/scripts/adhoc/run_dashboard_caching_queries_comparision/run_dashboard_caching_queries_comparision.go
  k8/production/jobs/run_dashboard_caching_queries_comparision.yaml
  k8/staging/jobs/run_dashboard_caching_queries_comparision.yaml
Owners: aravind@factors.ai, dinesh@factors.ai, anil@factors.ai, janani@factors.ai, kartheek+1@factors.ai

removing logs (#8009)
  backend/src/factors/model/model/attribution.go
  backend/src/factors/model/store/memsql/attribution.go
  backend/src/factors/model/store/memsql/attribution_marketing.go
Owners: anil@factors.ai, dinesh@factors.ai, janani@factors.ai, kartheek+1@factors.ai

Change for recent-feature (#8010)
  backend/src/factors/handler/six_signal.go
Owners: aravind@factors.ai, dinesh@factors.ai

email share api implemented (#8011)
  frontend-new/src/features/6signal-report/state/services.ts
  frontend-new/src/features/6signal-report/types.ts
  frontend-new/src/features/6signal-report/ui/components/ShareModal/index.tsx
  frontend-new/src/features/6signal-report/ui/index.tsx
Owners: akhil@factors.ai, baliga@factors.ai, jitesh@factors.ai, vikas@factors.ai

fixing trim in payload (#8012)
  backend/src/factors/handler/v1/event_names.go
Owners: aravind@factors.ai, dinesh@factors.ai

Janani/listpayload (#8013)
  backend/src/factors/handler/v1/event_names.go
Owners: aravind@factors.ai, dinesh@factors.ai

email share api implemented (#8011) (#8014)
  frontend-new/src/features/6signal-report/state/services.ts
  frontend-new/src/features/6signal-report/types.ts
  frontend-new/src/features/6signal-report/ui/components/ShareModal/index.tsx
  frontend-new/src/features/6signal-report/ui/index.tsx
Owners: akhil@factors.ai, baliga@factors.ai, jitesh@factors.ai, vikas@factors.ai

StagFix - Attribution Group Display Name (#8015)
  frontend-new/src/components/AttrQueryComposer/index.js
Owners: akhil@factors.ai

add domain verification
  backend/src/factors/handler/routes.go
  backend/src/factors/ms_teams/handler_ms_teams.go
Owners: aravind@factors.ai, dinesh@factors.ai

fix
  backend/src/factors/ms_teams/handler_ms_teams.go
Owners: aravind@factors.ai, dinesh@factors.ai

disable teams routes
  backend/src/factors/handler/routes.go
  backend/src/factors/handler/v1/project_settings.go
Owners: aravind@factors.ai, dinesh@factors.ai

Design Fixes of FaSelect DropDowns in OTP. (#8003)
  frontend-new/src/Views/Settings/ProjectConfigure/Touchpoints/TouchPointView/index.js
  frontend-new/src/Views/Settings/ProjectConfigure/Touchpoints/TouchPointView/index.module.scss
Owners: baliga@factors.ai

disable teams integration (#8020)
  frontend-new/src/Views/Settings/ProjectSettings/Alerts/KPIBasedAlert/index.js
  frontend-new/src/Views/Settings/ProjectSettings/IntegrationSettings/index.js
  frontend-new/src/Views/Settings/SetupAssist/OtherIntegrations.js
Owners: baliga@factors.ai

Update handler_event_name_test.go (#7923)
  backend/src/factors/tests/handler_event_name_test.go
Owners: none

Project update timezone handled. (#8017)
  backend/src/factors/handler/projects.go
  backend/src/factors/model/store/memsql/project.go
Owners: aravind@factors.ai, dinesh@factors.ai, anil@factors.ai, janani@factors.ai, kartheek+1@factors.ai

disabling timezone editing (#8024)
  frontend-new/src/Views/Settings/ProjectSettings/BasicSettings/EditBasicSettings.js
Owners: baliga@factors.ai

Traceable debug log (#8025)
  backend/src/factors/model/store/memsql/attribution.go
Owners: anil@factors.ai, dinesh@factors.ai, janani@factors.ai, kartheek+1@factors.ai

Form fills identification debug logs 1 (#8021)
  backend/src/factors/sdk/sdk.go
Owners: dinesh@factors.ai

logs (#8026)
  backend/src/factors/model/store/memsql/attribution.go
Owners: anil@factors.ai, dinesh@factors.ai, janani@factors.ai, kartheek+1@factors.ai

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# They will be requested for review when someone opens a pull request.
*       aravind@factors.ai dinesh@factors.ai


# Below folders will require approval from one of the owners.
/backend/src/factors/cache/redis/ dinesh@factors.ai janani@factors.ai
/backend/src/factors/config/ dinesh@factors.ai janani@factors.ai
/backend/src/factors/crm_enrichment/ maisa@factors.ai
/backend/src/factors/data_service/ dinesh@factors.ai kartheek+1@factors.ai maisa@factors.ai
/backend/src/factors/dd_attribution/ anil@factors.ai
/backend/src/factors/default_data/ kartheek+1@factors.ai
/backend/src/factors/delta/ anshul@factors.ai janani@factors.ai
/backend/src/factors/event_match/ janani@factors.ai
/backend/src/factors/explain/ anshul@factors.ai janani@factors.ai vinith@factors.ai
/backend/src/factors/filestore/ janani@factors.ai
/backend/src/factors/fivetran/ janani@factors.ai
/backend/src/factors/fptree/ vinith@factors.ai
/backend/src/factors/handlers/ anil@factors.ai dinesh@factors.ai janani@factors.ai kartheek+1@factors.ai
/backend/src/factors/histogram/ vinith@factors.ai
/backend/src/factors/integration/clear_bit/ anil@factors.ai
/backend/src/factors/integration/hubspot/ maisa@factors.ai
/backend/src/factors/integration/salesforce/ maisa@factors.ai
/backend/src/factors/integration/segment/ dinesh@factors.ai
/backend/src/factors/integration/six_signal/ anil@factors.ai
/backend/src/factors/leadsquared/ janani@factors.ai
/backend/src/factors/merge/ anshul@factors.ai vinith@factors.ai
/backend/src/factors/metrics/ dinesh@factors.ai
/backend/src/factors/middleware/ janani@factors.ai
/backend/src/factors/migrations/ anil@factors.ai dinesh@factors.ai janani@factors.ai kartheek+1@factors.ai
/backend/src/factors/model/ anil@factors.ai dinesh@factors.ai janani@factors.ai kartheek+1@factors.ai
/backend/src/factors/pattern/ anshul@factors.ai janani@factors.ai vinith@factors.ai
/backend/src/factors/pattern_client/ vinith@factors.ai
/backend/src/factors/pattern_server/ vinith@factors.ai
/backend/src/factors/pattern_server_wrapper/ vinith@factors.ai
/backend/src/factors/predict/ vinith@factors.ai
/backend/src/factors/pull/ anshul@factors.ai
/backend/src/factors/quickchart/ sumit@factors.ai
/backend/src/factors/scripts/ anil@factors.ai dinesh@factors.ai janani@factors.ai kartheek+1@factors.ai
/backend/src/factors/sdk/ dinesh@factors.ai
/backend/src/factors/services/ dinesh@factors.ai janani@factors.ai
/backend/src/factors/session/ janani@factors.ai
/backend/src/factors/slack_bot/ sumit@factors.ai
/backend/src/factors/task/ janani@factors.ai maisa@factors.ai vinith@factors.ai
/backend/src/factors/tests
/backend/src/factors/util/ anil@factors.ai dinesh@factors.ai janani@factors.ai kartheek+1@factors.ai
/backend/src/factors/vendor/ anil@factors.ai dinesh@factors.ai janani@factors.ai kartheek+1@factors.ai
/backend/src/factors/vendor_custom/ dinesh@factors.ai
/backend/src/factors/workers/ dinesh@factors.ai janani@factors.ai

/devicedetector_data/ ashhar@factors.ai
/email-templates/ baliga@factors.ai

/frontend-new/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai vikas@factors.ai
/frontend-new/src/Views/AppLayout/ akhil@factors.ai baliga@factors.ai
/frontend-new/src/Views/CoreQuery/ akhil@factors.ai baliga@factors.ai
/frontend-new/src/Views/CoreQueryHome/ akhil@factors.ai baliga@factors.ai
/frontend-new/src/Views/Dashboard/ jitesh@factors.ai
/frontend-new/src/Views/DashboardTemplates/ akhil@factors.ai
/frontend-new/src/Views/Factors/ baliga@factors.ai
/frontend-new/src/Views/Pages/ baliga@factors.ai
/frontend-new/src/Views/PathAnalysis/ baliga@factors.ai
/frontend-new/src/Views/Settings/ baliga@factors.ai
/frontend-new/src/Views/componentsLib/ baliga@factors.ai
/frontend-new/src/components/AdBlockerDetector/ baliga@factors.ai
/frontend-new/src/components/AppModal/ baliga@factors.ai
/frontend-new/src/components/AttrQueryComposer/ akhil@factors.ai
/frontend-new/src/components/AxisOptionsContainer/ jitesh@factors.ai
/frontend-new/src/components/BarChart/ jitesh@factors.ai
/frontend-new/src/components/CampQueryComposer/ jitesh@factors.ai
/frontend-new/src/components/ChartTypeDropdown/ jitesh@factors.ai
/frontend-new/src/components/ColumnChart/ jitesh@factors.ai
/frontend-new/src/components/ComparisonDatePicker/ jitesh@factors.ai
/frontend-new/src/components/ConfirmationModal/ baliga@factors.ai
/frontend-new/src/components/ContentTabs/ jitesh@factors.ai
/frontend-new/src/components/ControlledComponent/ jitesh@factors.ai
/frontend-new/src/components/DataTable/ jitesh@factors.ai
/frontend-new/src/components/DataTableFilters/ jitesh@factors.ai
/frontend-new/src/components/DeleteQueryModal/ jitesh@factors.ai
/frontend-new/src/components/FaDatepicker/ baliga@factors.ai
/frontend-new/src/components/FaFilterSelect/ akhil@factors.ai
/frontend-new/src/components/FaHeader/ vikas@factors.ai
/frontend-new/src/components/FaPublicHeader/ deepak@factors.ai
/frontend-new/src/components/FaSelect/ akhil@factors.ai
/frontend-new/src/components/FaTimeline/ vikas@factors.ai
/frontend-new/src/components/GranularityOptions/ jitesh@factors.ai
/frontend-new/src/components/GroupedBarChart/ jitesh@factors.ai
/frontend-new/src/components/HCBarLineChart/ jitesh@factors.ai
/frontend-new/src/components/HCLineChart/ jitesh@factors.ai
/frontend-new/src/components/HorizontalBarChart/ jitesh@factors.ai
/frontend-new/src/components/HorizontalWindow/ baliga@factors.ai
/frontend-new/src/components/Icons/ baliga@factors.ai
/frontend-new/src/components/KPIComposer/ baliga@factors.ai
/frontend-new/src/components/MetricChart/ jitesh@factors.ai
/frontend-new/src/components/MomentTz/ baliga@factors.ai
/frontend-new/src/components/NavigationBar/ vikas@factors.ai
/frontend-new/src/components/NoDataChart/ baliga@factors.ai
/frontend-new/src/components/NonClickableTableHeader/ jitesh@factors.ai
/frontend-new/src/components/PivotTable/ jitesh@factors.ai
/frontend-new/src/components/PivotTableControls/ jitesh@factors.ai
/frontend-new/src/components/PrivateRoute/ akhil@factors.ai
/frontend-new/src/components/Profile/ vikas@factors.ai
/frontend-new/src/components/ProfileComposer/ vikas@factors.ai
/frontend-new/src/components/ProjectModal/ vikas@factors.ai
/frontend-new/src/components/QueryCommons/ComposerBlock/ akhil@factors.ai
/frontend-new/src/components/QueryComposer/ akhil@factors.ai
/frontend-new/src/components/SaveQuery/ jitesh@factors.ai
/frontend-new/src/components/ScatterPlotChart/ jitesh@factors.ai
/frontend-new/src/components/SearchBar/ akhil@factors.ai jitesh@factors.ai
/frontend-new/src/components/SearchCheckList/ vikas@factors.ai
/frontend-new/src/components/ShareToEmailModal/ baliga@factors.ai
/frontend-new/src/components/ShareToSlackModal/ baliga@factors.ai
/frontend-new/src/components/Sidebar/ baliga@factors.ai
/frontend-new/src/components/SparkChartWithCount/ jitesh@factors.ai
/frontend-new/src/components/SparkLineChart/ jitesh@factors.ai
/frontend-new/src/components/StackedAreaChart/ jitesh@factors.ai
/frontend-new/src/components/StackedBarChart/ jitesh@factors.ai
/frontend-new/src/components/SuspenseLoaders/ jitesh@factors.ai
/frontend-new/src/components/factorsComponents/ baliga@factors.ai
