Repository pushpendra-factors/testflow, changes with the owners that CODEOWNERS names for each.
All owners: aravind@factors.ai, dinesh@factors.ai, janani@factors.ai, maisa@factors.ai, viknesh@factors.ai, kartheek+1@factors.ai, satya@factors.ai, anshul@factors.ai, vinith@factors.ai, roshan@factors.ai, sumit@factors.ai, ashhar@factors.ai, baliga@factors.ai, akhil@factors.ai, jitesh@factors.ai, vikas@factors.ai, deepak@factors.ai

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# They will be requested for review when someone opens a pull request.
*       aravind@factors.ai dinesh@factors.ai


# Below folders will require approval from one of the owners.
/backend/src/factors/cache/redis/ dinesh@factors.ai janani@factors.ai
/backend/src/factors/config/ dinesh@factors.ai janani@factors.ai
/backend/src/factors/crm_enrichment/ maisa@factors.ai viknesh@factors.ai
/backend/src/factors/data_service/ dinesh@factors.ai kartheek+1@factors.ai maisa@factors.ai
/backend/src/factors/dd_attribution/ janani@factors.ai satya@factors.ai
/backend/src/factors/default_data/ kartheek+1@factors.ai dinesh@factors.ai
/backend/src/factors/delta/ anshul@factors.ai janani@factors.ai
/backend/src/factors/event_match/ janani@factors.ai dinesh@factors.ai
/backend/src/factors/explain/ anshul@factors.ai janani@factors.ai vinith@factors.ai
/backend/src/factors/filestore/ janani@factors.ai dinesh@factors.ai
/backend/src/factors/fivetran/ janani@factors.ai dinesh@factors.ai
/backend/src/factors/fptree/ vinith@factors.ai aravind@factors.ai
/backend/src/factors/handlers/ aravind@factors.ai dinesh@factors.ai janani@factors.ai kartheek+1@factors.ai
/backend/src/factors/histogram/ vinith@factors.ai aravind@factors.ai
/backend/src/factors/integration/clear_bit/ roshan@factors.ai kartheek+1@factors.ai
/backend/src/factors/integration/hubspot/ maisa@factors.ai viknesh@factors.ai
/backend/src/factors/integration/salesforce/ maisa@factors.ai viknesh@factors.ai
/backend/src/factors/integration/segment/ dinesh@factors.ai maisa@factors.ai
/backend/src/factors/integration/six_signal/ roshan@factors.ai kartheek+1@factors.ai
/backend/src/factors/leadsquared/ janani@factors.ai maisa@factors.ai
/backend/src/factors/merge/ anshul@factors.ai vinith@factors.ai aravind@factors.ai
/backend/src/factors/metrics/ dinesh@factors.ai janani@factors.ai
/backend/src/factors/middleware/ dinesh@factors.ai janani@factors.ai
/backend/src/factors/migrations/ aravind@factors.ai dinesh@factors.ai janani@factors.ai kartheek+1@factors.ai
/backend/src/factors/model/ aravind@factors.ai dinesh@factors.ai janani@factors.ai kartheek+1@factors.ai
/backend/src/factors/pattern/ anshul@factors.ai janani@factors.ai vinith@factors.ai
/backend/src/factors/pattern_client/ vinith@factors.ai aravind@factors.ai
/backend/src/factors/pattern_server/ vinith@factors.ai aravind@factors.ai
/backend/src/factors/pattern_server_wrapper/ vinith@factors.ai aravind@factors.ai
/backend/src/factors/predict/ vinith@factors.ai aravind@factors.ai
/backend/src/factors/pull/ anshul@factors.ai janani@factors.ai
/backend/src/factors/quickchart/ sumit@factors.ai janani@factors.ai
/backend/src/factors/scripts/ aravind@factors.ai dinesh@factors.ai janani@factors.ai kartheek+1@factors.ai
/backend/src/factors/sdk/ dinesh@factors.ai maisa@factors.ai
/backend/src/factors/services/ dinesh@factors.ai janani@factors.ai
/backend/src/factors/session/ janani@factors.ai dinesh@factors.ai
/backend/src/factors/slack_bot/ sumit@factors.ai janani@factors.ai
/backend/src/factors/task/ janani@factors.ai maisa@factors.ai vinith@factors.ai
/backend/src/factors/tests
/backend/src/factors/util/ aravind@factors.ai dinesh@factors.ai janani@factors.ai kartheek+1@factors.ai
/backend/src/factors/vendor/ aravind@factors.ai dinesh@factors.ai janani@factors.ai kartheek+1@factors.ai
/backend/src/factors/vendor_custom/ dinesh@factors.ai maisa@factors.ai
/backend/src/factors/workers/ dinesh@factors.ai janani@factors.ai

/devicedetector_data/ ashhar@factors.ai dinesh@factors.ai
/email-templates/ baliga@factors.ai

/frontend-new/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai vikas@factors.ai
/frontend-new/src/Views/AppLayout/ akhil@factors.ai baliga@factors.ai
/frontend-new/src/Views/CoreQuery/ akhil@factors.ai baliga@factors.ai
/frontend-new/src/Views/CoreQueryHome/ akhil@factors.ai baliga@factors.ai
/frontend-new/src/Views/Dashboard/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/Views/DashboardTemplates/ akhil@factors.ai
/frontend-new/src/Views/Factors/ baliga@factors.ai
/frontend-new/src/Views/Pages/ baliga@factors.ai
/frontend-new/src/Views/PathAnalysis/ baliga@factors.ai
/frontend-new/src/Views/Settings/ baliga@factors.ai
/frontend-new/src/Views/componentsLib/ baliga@factors.ai
/frontend-new/src/components/AdBlockerDetector/ baliga@factors.ai
/frontend-new/src/components/AppModal/ baliga@factors.ai
/frontend-new/src/components/AttrQueryComposer/ akhil@factors.ai
/frontend-new/src/components/AxisOptionsContainer/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/BarChart/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/CampQueryComposer/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/ChartTypeDropdown/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/ColumnChart/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/ComparisonDatePicker/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/ConfirmationModal/ baliga@factors.ai
/frontend-new/src/components/ContentTabs/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/ControlledComponent/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/DataTable/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/DataTableFilters/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/DeleteQueryModal/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/FaDatepicker/ baliga@factors.ai
/frontend-new/src/components/FaFilterSelect/ akhil@factors.ai
/frontend-new/src/components/FaHeader/ vikas@factors.ai
/frontend-new/src/components/FaPublicHeader/ deepak@factors.ai
/frontend-new/src/components/FaSelect/ akhil@factors.ai
/frontend-new/src/components/FaTimeline/ vikas@factors.ai
/frontend-new/src/components/GranularityOptions/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/GroupedBarChart/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/HCBarLineChart/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/HCLineChart/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/HorizontalBarChart/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/HorizontalWindow/ baliga@factors.ai
/frontend-new/src/components/Icons/ baliga@factors.ai
/frontend-new/src/components/KPIComposer/ baliga@factors.ai
/frontend-new/src/components/MetricChart/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/MomentTz/ baliga@factors.ai
/frontend-new/src/components/NavigationBar/ vikas@factors.ai
/frontend-new/src/components/NoDataChart/ baliga@factors.ai
/frontend-new/src/components/NonClickableTableHeader/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/PivotTable/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/PivotTableControls/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/PrivateRoute/ akhil@factors.ai
/frontend-new/src/components/Profile/ vikas@factors.ai
/frontend-new/src/components/ProfileComposer/ vikas@factors.ai
/frontend-new/src/components/ProjectModal/ vikas@factors.ai
/frontend-new/src/components/QueryCommons/ComposerBlock/ akhil@factors.ai
/frontend-new/src/components/QueryComposer/ akhil@factors.ai
/frontend-new/src/components/SaveQuery/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/ScatterPlotChart/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/SearchBar/ akhil@factors.ai jitesh@factors.ai
/frontend-new/src/components/SearchCheckList/ vikas@factors.ai
/frontend-new/src/components/ShareToEmailModal/ baliga@factors.ai
/frontend-new/src/components/ShareToSlackModal/ baliga@factors.ai
/frontend-new/src/components/Sidebar/ baliga@factors.ai
/frontend-new/src/components/SparkChartWithCount/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/SparkLineChart/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/StackedAreaChart/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/StackedBarChart/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/SuspenseLoaders/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/factorsComponents/ baliga@factors.ai

/integrations/ kartheek+1@factors.ai ashhar@factors.ai

/python_backend/ kartheek+1@factors.ai ashhar@factors.ai

/sdk/javascript/ dinesh@factors.ai akhil@factors.ai

reverse merge Staging to master (#8918)
  backend/src/factors/config/config.go
  backend/src/factors/event_match/event_matches.go
  backend/src/factors/handler/sdk.go
  backend/src/factors/integration/hubspot/hubspot.go
  backend/src/factors/integration/salesforce/enrichment.go
  backend/src/factors/integration/salesforce/sync.go
  backend/src/factors/model/model.go
  backend/src/factors/model/model/event_name.go
  backend/src/factors/model/store/memsql/acc_score.go
  backend/src/factors/model/store/memsql/clickable_elements.go
  backend/src/factors/model/store/memsql/hubspot_document.go
  backend/src/factors/model/store/memsql/salesforce_document.go
  backend/src/factors/model/store/memsql/segment.go
  backend/src/factors/model/store/memsql/user.go
  backend/src/factors/scripts/run_leadsquared_enrich/run_leadsquared_enrich.go
  backend/src/factors/scripts/run_marketo_enrichment/run_marketo_enrichment.go
  backend/src/factors/scripts/run_salesforce_enrich/run_salesforce_enrich.go
  backend/src/factors/tests/acc_score_test.go
  backend/src/factors/tests/model_salesforce_test.go
  frontend-new/build-config.js
  frontend-new/src/assets/icons/fire.svg
  frontend-new/src/assets/icons/snowflake.svg
  frontend-new/src/assets/icons/sun.svg
  frontend-new/src/components/Profile/AccountProfiles/AccountTimelineBirdView/index.js
  frontend-new/src/components/Profile/AccountProfiles/index.js
  frontend-new/src/components/Profile/UserProfiles/UserTimelineBirdview/index.js
  frontend-new/src/components/Profile/UserProfiles/index.js
  frontend-new/src/components/Profile/utils.js
  frontend-new/src/components/QueryComposer/index.js
  frontend-new/src/features/attribution/ui/baseComponent/AttributionSetupPending.js
  frontend-new/src/index.js
  integrations/hubspot/scripts/sync.py
Owners: dinesh@factors.ai, janani@factors.ai, aravind@factors.ai, maisa@factors.ai, viknesh@factors.ai, kartheek+1@factors.ai, akhil@factors.ai, baliga@factors.ai, jitesh@factors.ai, vikas@factors.ai, ashhar@factors.ai

running bingads for past 120 days (#8929)
  backend/src/factors/task/smart_properties/smart_properties.go
Owners: janani@factors.ai, maisa@factors.ai, vinith@factors.ai

DB Cache result integration with Flag protection (#8861)
  backend/src/factors/app/app.go
  backend/src/factors/config/config.go
  backend/src/factors/handler/helpers/handler_util.go
  backend/src/factors/handler/v1/attribution.go
  backend/src/factors/model/model.go
  backend/src/factors/model/model/dashboard_unit.go
  backend/src/factors/model/store/memsql/attribution_v1.go
  backend/src/factors/model/store/memsql/dashboard_unit.go
Owners: aravind@factors.ai, dinesh@factors.ai, janani@factors.ai, kartheek+1@factors.ai

Fixed skip session property value (#8935)
  backend/src/factors/scripts/run_create_linkedin_group_user/run_create_linkedin_group_user.go
Owners: aravind@factors.ai, dinesh@factors.ai, janani@factors.ai, kartheek+1@factors.ai

Fixed skip session for g2 events (#8928)
  backend/src/factors/task/g2/pull_data.go
Owners: janani@factors.ai, maisa@factors.ai, vinith@factors.ai

internal_status handler fix (#8936)
  backend/src/factors/handler/routes.go
  backend/src/factors/handler/v1/event_trigger_alerts.go
Owners: aravind@factors.ai, dinesh@factors.ai

Hotfix:- Dropdown speed Optimised On Search (#8894)
  frontend-new/src/components/GenericComponents/FaSelect/SingleSelect.tsx
  frontend-new/src/components/GenericComponents/GroupSelect/index.tsx
  frontend-new/src/hooks/useKey.tsx
Owners: akhil@factors.ai, baliga@factors.ai, jitesh@factors.ai, vikas@factors.ai

Timelines: Segment Event Using Event Analytics (#8891)
  backend/src/factors/model/store/memsql/event_analytics.go
  backend/src/factors/model/store/memsql/timelines.go
  backend/src/factors/tests/handler_timeline_test.go
Owners: aravind@factors.ai, dinesh@factors.ai, janani@factors.ai, kartheek+1@factors.ai

Release -> Staging (#8939)
  backend/src/factors/app/app.go
  backend/src/factors/config/config.go
  backend/src/factors/handler/helpers/handler_util.go
  backend/src/factors/handler/v1/attribution.go
  backend/src/factors/model/model.go
  backend/src/factors/model/model/dashboard_unit.go
  backend/src/factors/model/store/memsql/attribution_v1.go
  backend/src/factors/model/store/memsql/dashboard_unit.go
  backend/src/factors/scripts/run_create_linkedin_group_user/run_create_linkedin_group_user.go
  backend/src/factors/task/smart_properties/smart_properties.go
  frontend-new/src/components/GenericComponents/FaSelect/SingleSelect.tsx
  frontend-new/src/components/GenericComponents/GroupSelect/index.tsx
  frontend-new/src/hooks/useKey.tsx
Owners: aravind@factors.ai, dinesh@factors.ai, janani@factors.ai, kartheek+1@factors.ai, maisa@factors.ai, vinith@factors.ai, akhil@factors.ai, baliga@factors.ai, jitesh@factors.ai, vikas@factors.ai

Fixed make command (#8940)
  backend/src/Makefile
Owners: aravind@factors.ai, dinesh@factors.ai

Update handler_event_name_test.go (#8924)
  backend/src/factors/tests/handler_event_name_test.go
Owners: none

Add support for hubspot deal v3 api (#8829)
  backend/src/factors/config/config.go
  backend/src/factors/integration/hubspot/hubspot.go
  backend/src/factors/model/model/hubspot_document.go
  backend/src/factors/model/model/user.go
  backend/src/factors/model/store/memsql/hubspot_document.go
  backend/src/factors/scripts/run_hubspot_enrich/run_hubspot_enrich.go
  backend/src/factors/tests/main_test.go
  backend/src/factors/tests/model_hubspot_test.go
  integrations/hubspot/scripts/sync.py
Owners: dinesh@factors.ai, janani@factors.ai, maisa@factors.ai, viknesh@factors.ai, aravind@factors.ai, kartheek+1@factors.ai, ashhar@factors.ai

Stagfix - Prevent Infinite re-render and Clear search on tab change (#8943)
  frontend-new/src/components/Profile/AccountProfiles/AccountTimelineBirdView/index.js
  frontend-new/src/components/Profile/AccountProfiles/index.js
  frontend-new/src/components/Profile/UserProfiles/UserTimelineBirdview/index.js
  frontend-new/src/components/Profile/UserProfiles/index.js
Owners: vikas@factors.ai

Update 1_create_schema.sql (#8941)
  backend/src/factors/migrations/db/memsql/1_create_schema.sql
Owners: aravind@factors.ai, dinesh@factors.ai, janani@factors.ai, kartheek+1@factors.ai

Fixed display and event_name creation bug (#8945)
  backend/src/factors/task/g2/pull_data.go
  backend/src/factors/util/properties.go
Owners: janani@factors.ai, maisa@factors.ai, vinith@factors.ai, aravind@factors.ai, dinesh@factors.ai, kartheek+1@factors.ai

Stagfix - G2 Support Timelines (#8946)
  backend/src/factors/model/model/tl_profile.go
  frontend-new/src/components/Profile/AccountProfiles/index.js
  frontend-new/src/components/Profile/utils.js
  frontend-new/src/utils/constants.js
Owners: aravind@factors.ai, dinesh@factors.ai, janani@factors.ai, kartheek+1@factors.ai, vikas@factors.ai, akhil@factors.ai, baliga@factors.ai, jitesh@factors.ai

fetching saved reports after saving explain query (#8947)
  frontend-new/src/Views/Factors/ExplainQueryBuilder.js
Owners: baliga@factors.ai

Stagfix - G2 Account Details Failing in All Accounts (#8948)
  backend/src/factors/model/model/tl_profile.go
  frontend-new/src/components/GlobalFilter/FilterWrapper/index.js
  frontend-new/src/components/ProfileComposer/index.js
Owners: aravind@factors.ai, dinesh@factors.ai, janani@factors.ai, kartheek+1@factors.ai, akhil@factors.ai, baliga@factors.ai, jitesh@factors.ai, vikas@factors.ai

tooltip for non hover events (#8951)
  frontend-new/src/components/Profile/AccountProfiles/AccountTimelineBirdView/index.js
Owners: vikas@factors.ai

fix for nil map init of blockedAlertList panic (#8950)
  backend/src/factors/scripts/run_event_trigger_alerts/run_event_trigger_alerts.go
Owners: aravind@factors.ai, dinesh@factors.ai, janani@factors.ai, kartheek+1@factors.ai

few fixes (#8954)
  backend/src/factors/handler/v1/event_names.go
  backend/src/factors/scripts/run_upload_currency_conversion_rates/run_upload_currency_conversion_rates.go
  backend/src/factors/task/bingadsintegration.go
Owners: aravind@factors.ai, dinesh@factors.ai, janani@factors.ai, kartheek+1@factors.ai, maisa@factors.ai, vinith@factors.ai

cleaning page url for equals op (#8942)
  backend/src/factors/sdk/sdk.go
  backend/src/factors/tests/handler_sdk_test.go
Owners: dinesh@factors.ai, maisa@factors.ai

Janani/fixes1 (#8957)
  backend/src/factors/handler/v1/event_names.go
Owners: aravind@factors.ai, dinesh@factors.ai

update err (#8960)
  backend/src/factors/task/compute_acc_score.go
Owners: janani@factors.ai, maisa@factors.ai, vinith@factors.ai

Github Actions - deployment support for python and php workloads (#8958)
  .github/workflows/deploy-fe-production.yml
  .github/workflows/deploy-fe-staging.yml
  .github/workflows/prod_build_publish_binary.yml
  .github/workflows/stage_build_publish_binary.yaml
  .github/workflows/tests.yml
  device_service/Makefile
  device_service/README.md
  integrations/adwords/scripts/Makefile
  integrations/facebook/scripts/Makefile
  integrations/hubspot/scripts/Makefile
  integrations/linkedin/scripts/Makefile
  python_backend/adwords_requirements.txt
Owners: aravind@factors.ai, dinesh@factors.ai, kartheek+1@factors.ai, ashhar@factors.ai

Segment tests fix and code refactoring (#8953)
  backend/src/factors/model/store/memsql/event_analytics.go
  backend/src/factors/tests/handler_timeline_test.go
Owners: aravind@factors.ai, dinesh@factors.ai, janani@factors.ai, kartheek+1@factors.ai

Hotfix - Domain name cleanup fixes (#8955)
  backend/src/factors/integration/hubspot/hubspot.go
  backend/src/factors/model/model/group.go
  backend/src/factors/model/store/memsql/user.go
  backend/src/factors/sdk/sdk.go
  backend/src/factors/tests/handler_sdk_test.go
  backend/src/factors/tests/model_hubspot_test.go
  backend/src/factors/util/tld_list.go
Owners: maisa@factors.ai, viknesh@factors.ai, aravind@factors.ai, dinesh@factors.ai, janani@factors.ai, kartheek+1@factors.ai

All Account Support for Segment With Global Properties (#8965)
  backend/src/factors/model/model/tl_profile.go
  backend/src/factors/model/store/memsql/timelines.go
  backend/src/factors/tests/handler_timeline_test.go
  frontend-new/src/components/Profile/AccountProfiles/index.js
  frontend-new/src/components/Profile/UserProfiles/SegmentModal.js
  frontend-new/src/components/Profile/UserProfiles/index.js
Owners: aravind@factors.ai, dinesh@factors.ai, janani@factors.ai, kartheek+1@factors.ai, vikas@factors.ai

Fix deploy backend production github action #8967
  .github/workflows/prod_build_publish_binary.yml
Owners: aravind@factors.ai, dinesh@factors.ai

Relax staging deployment branch condition for github actions. #8969
  .github/workflows/stage_build_publish_binary.yaml
Owners: aravind@factors.ai, dinesh@factors.ai

adding flag for event level user properties (#8695)
  backend/src/factors/config/config.go
  backend/src/factors/model/store/memsql/event.go
  backend/src/factors/model/store/memsql/user.go
  backend/src/factors/scripts/adhoc/run_beam_add_session/run_beam_add_session.go
  backend/src/factors/scripts/run_add_session/run_add_session.go
  backend/src/factors/tests/task_add_session_test.go
  backend/src/factors/util/database.go
  backend/src/factors/util/properties.go
  backend/src/factors/workers/integration_request/process.go
  backend/src/factors/workers/sdk_request/process.go
Owners: dinesh@factors.ai, janani@factors.ai, aravind@factors.ai, kartheek+1@factors.ai

account url fixes (#8956)
  frontend-new/src/components/FaHeader/FaHeader.js
  frontend-new/src/components/Profile/AccountProfiles/AccountDetails.js
  frontend-new/src/components/Profile/AccountProfiles/index.js
Owners: vikas@factors.ai

applying flag protection for event user properties (#8972)
  .github/workflows/prod_build_publish_binary.yml
  backend/src/factors/config/config.go
  backend/src/factors/integration/hubspot/hubspot.go
  backend/src/factors/model/model/group.go
  backend/src/factors/model/store/memsql/user.go
  backend/src/factors/scripts/run_add_session/run_add_session.go
  backend/src/factors/sdk/sdk.go
  backend/src/factors/tests/handler_sdk_test.go
  backend/src/factors/tests/main_test.go
  backend/src/factors/tests/model_hubspot_test.go
  backend/src/factors/util/tld_list.go
  backend/src/factors/workers/integration_request/process.go
  backend/src/factors/workers/sdk_request/process.go
  frontend-new/src/components/FaHeader/FaHeader.js
  frontend-new/src/components/Profile/AccountProfiles/AccountDetails.js
  frontend-new/src/components/Profile/AccountProfiles/index.js
Owners: aravind@factors.ai, dinesh@factors.ai, janani@factors.ai, maisa@factors.ai, viknesh@factors.ai, kartheek+1@factors.ai, vikas@factors.ai

location import fix (#8974)
  frontend-new/src/components/Profile/AccountProfiles/index.js
Owners: vikas@factors.ai

adding flag for event user properties (#8977)
  backend/src/factors/scripts/run_hubspot_enrich/run_hubspot_enrich.go
  backend/src/factors/scripts/run_leadsquared_enrich/run_leadsquared_enrich.go
  backend/src/factors/scripts/run_marketo_enrichment/run_marketo_enrichment.go
  backend/src/factors/scripts/run_salesforce_enrich/run_salesforce_enrich.go
Owners: aravind@factors.ai, dinesh@factors.ai, janani@factors.ai, kartheek+1@factors.ai

Filter update 3 (#8971)
  backend/src/factors/model/model/acc_score.go
  backend/src/factors/task/acc_score_add_weights.go
  backend/src/factors/tests/acc_score_test.go
Owners: aravind@factors.ai, dinesh@factors.ai, janani@factors.ai, kartheek+1@factors.ai, maisa@factors.ai, vinith@factors.ai

updated new tag found in enum (#8982)
  backend/src/factors/task/g2/pull_data.go
Owners: janani@factors.ai, maisa@factors.ai, vinith@factors.ai

changed analyse to drafts (#8932)
  frontend-new/src/Views/AppLayout/index.js
  frontend-new/src/Views/AppSidebar/DashboardSidebar.js
  frontend-new/src/Views/AppSidebar/index.module.scss
  frontend-new/src/Views/Dashboard/Drafts/Drafts.js
  frontend-new/src/Views/Dashboard/Drafts/SavedQueriesTable.js
  frontend-new/src/Views/Dashboard/Drafts/index.js
  frontend-new/src/Views/Dashboard/Drafts/index.module.scss
  frontend-new/src/Views/Dashboard/NewReportButton.js
  frontend-new/src/Views/Dashboard/ProjectDropdown.js
  frontend-new/src/Views/Dashboard/index.js
  frontend-new/src/components/FaHeader/FaHeader.js
  frontend-new/src/components/SearchBar/index.js
  frontend-new/src/components/svgIcons/sidebarIconsList.js
  frontend-new/src/features/attribution/utils/index.js
  frontend-new/src/reducers/dashboard/actions.js
  frontend-new/src/reducers/dashboard/constants.js
  frontend-new/src/reducers/dashboard/index.js
  frontend-new/src/reducers/dashboard/selectors.js
  frontend-new/src/reducers/dashboard/types.js
Owners: akhil@factors.ai, baliga@factors.ai, jitesh@factors.ai, vikas@factors.ai

Engagement Scoring Configuration (#8813)
  frontend-new/src/Views/AppLayout/appLayout.constants.js
  frontend-new/src/Views/AppSidebar/appSidebar.helpers.js
  frontend-new/src/Views/Settings/ProjectConfigure/Engagement/EngagementModal.js
  frontend-new/src/Views/Settings/ProjectConfigure/Engagement/index.js
  frontend-new/src/assets/icons/empty_file.svg
  frontend-new/src/components/FaHeader/FaHeader.js
  frontend-new/src/components/GlobalFilter/FilterWrapper/index.js
  frontend-new/src/components/Profile/AccountProfiles/index.js
  frontend-new/src/components/Profile/MyComponents/EventsBlock/index.js
  frontend-new/src/components/Profile/UserProfiles/SegmentModal.js
  frontend-new/src/components/Profile/UserProfiles/index.js
  frontend-new/src/components/Profile/utils.js
  frontend-new/src/reducers/timelines/index.js
  frontend-new/src/routes/constants.js
  frontend-new/src/routes/pathUrls.js
Owners: akhil@factors.ai, baliga@factors.ai, jitesh@factors.ai, vikas@factors.ai

pa handler test fix (#8987)
  backend/src/factors/tests/model_pathanalysis_test.go
Owners: none
