Repository pushpendra-factors/testflow, changes with the owners that CODEOWNERS names for each.
All owners: aravind@factors.ai, dinesh@factors.ai, janani@factors.ai, maisa@factors.ai, viknesh@factors.ai, kartheek+1@factors.ai, satya@factors.ai, anshul@factors.ai, vinith@factors.ai, roshan@factors.ai, sumit@factors.ai, ashhar@factors.ai, baliga@factors.ai, akhil@factors.ai, jitesh@factors.ai, vikas@factors.ai, deepak@factors.ai

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# They will be requested for review when someone opens a pull request.
*       aravind@factors.ai dinesh@factors.ai


# Below folders will require approval from one of the owners.
/backend/src/factors/cache/redis/ dinesh@factors.ai janani@factors.ai
/backend/src/factors/config/ dinesh@factors.ai janani@factors.ai
/backend/src/factors/crm_enrichment/ maisa@factors.ai viknesh@factors.ai
/backend/src/factors/data_service/ dinesh@factors.ai kartheek+1@factors.ai maisa@factors.ai
/backend/src/factors/dd_attribution/ janani@factors.ai satya@factors.ai
/backend/src/factors/default_data/ kartheek+1@factors.ai dinesh@factors.ai
/backend/src/factors/delta/ anshul@factors.ai janani@factors.ai
/backend/src/factors/event_match/ janani@factors.ai dinesh@factors.ai
/backend/src/factors/explain/ anshul@factors.ai janani@factors.ai vinith@factors.ai
/backend/src/factors/filestore/ janani@factors.ai dinesh@factors.ai
/backend/src/factors/fivetran/ janani@factors.ai dinesh@factors.ai
/backend/src/factors/fptree/ vinith@factors.ai aravind@factors.ai
/backend/src/factors/handlers/ aravind@factors.ai dinesh@factors.ai janani@factors.ai kartheek+1@factors.ai
/backend/src/factors/histogram/ vinith@factors.ai aravind@factors.ai
/backend/src/factors/integration/clear_bit/ roshan@factors.ai kartheek+1@factors.ai
/backend/src/factors/integration/hubspot/ maisa@factors.ai viknesh@factors.ai
/backend/src/factors/integration/salesforce/ maisa@factors.ai viknesh@factors.ai
/backend/src/factors/integration/segment/ dinesh@factors.ai maisa@factors.ai
/backend/src/factors/integration/six_signal/ roshan@factors.ai kartheek+1@factors.ai
/backend/src/factors/leadsquared/ janani@factors.ai maisa@factors.ai
/backend/src/factors/merge/ anshul@factors.ai vinith@factors.ai aravind@factors.ai
/backend/src/factors/metrics/ dinesh@factors.ai janani@factors.ai
/backend/src/factors/middleware/ dinesh@factors.ai janani@factors.ai
/backend/src/factors/migrations/ aravind@factors.ai dinesh@factors.ai janani@factors.ai kartheek+1@factors.ai
/backend/src/factors/model/ aravind@factors.ai dinesh@factors.ai janani@factors.ai kartheek+1@factors.ai
/backend/src/factors/pattern/ anshul@factors.ai janani@factors.ai vinith@factors.ai
/backend/src/factors/pattern_client/ vinith@factors.ai aravind@factors.ai
/backend/src/factors/pattern_server/ vinith@factors.ai aravind@factors.ai
/backend/src/factors/pattern_server_wrapper/ vinith@factors.ai aravind@factors.ai
/backend/src/factors/predict/ vinith@factors.ai aravind@factors.ai
/backend/src/factors/pull/ anshul@factors.ai janani@factors.ai
/backend/src/factors/quickchart/ sumit@factors.ai janani@factors.ai
/backend/src/factors/scripts/ aravind@factors.ai dinesh@factors.ai janani@factors.ai kartheek+1@factors.ai
/backend/src/factors/sdk/ dinesh@factors.ai maisa@factors.ai
/backend/src/factors/services/ dinesh@factors.ai janani@factors.ai
/backend/src/factors/session/ janani@factors.ai dinesh@factors.ai
/backend/src/factors/slack_bot/ sumit@factors.ai janani@factors.ai
/backend/src/factors/task/ janani@factors.ai maisa@factors.ai vinith@factors.ai
/backend/src/factors/tests
/backend/src/factors/util/ aravind@factors.ai dinesh@factors.ai janani@factors.ai kartheek+1@factors.ai
/backend/src/factors/vendor/ aravind@factors.ai dinesh@factors.ai janani@factors.ai kartheek+1@factors.ai
/backend/src/factors/vendor_custom/ dinesh@factors.ai maisa@factors.ai
/backend/src/factors/workers/ dinesh@factors.ai janani@factors.ai

/devicedetector_data/ ashhar@factors.ai dinesh@factors.ai
/email-templates/ baliga@factors.ai

/frontend-new/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai vikas@factors.ai
/frontend-new/src/Views/AppLayout/ akhil@factors.ai baliga@factors.ai
/frontend-new/src/Views/CoreQuery/ akhil@factors.ai baliga@factors.ai
/frontend-new/src/Views/CoreQueryHome/ akhil@factors.ai baliga@factors.ai
/frontend-new/src/Views/Dashboard/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/Views/DashboardTemplates/ akhil@factors.ai
/frontend-new/src/Views/Factors/ baliga@factors.ai
/frontend-new/src/Views/Pages/ baliga@factors.ai
/frontend-new/src/Views/PathAnalysis/ baliga@factors.ai
/frontend-new/src/Views/Settings/ baliga@factors.ai
/frontend-new/src/Views/componentsLib/ baliga@factors.ai
/frontend-new/src/components/AdBlockerDetector/ baliga@factors.ai
/frontend-new/src/components/AppModal/ baliga@factors.ai
/frontend-new/src/components/AttrQueryComposer/ akhil@factors.ai
/frontend-new/src/components/AxisOptionsContainer/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/BarChart/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/CampQueryComposer/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/ChartTypeDropdown/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/ColumnChart/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/ComparisonDatePicker/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/ConfirmationModal/ baliga@factors.ai
/frontend-new/src/components/ContentTabs/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/ControlledComponent/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/DataTable/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/DataTableFilters/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/DeleteQueryModal/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/FaDatepicker/ baliga@factors.ai
/frontend-new/src/components/FaFilterSelect/ akhil@factors.ai
/frontend-new/src/components/FaHeader/ vikas@factors.ai
/frontend-new/src/components/FaPublicHeader/ deepak@factors.ai
/frontend-new/src/components/FaSelect/ akhil@factors.ai
/frontend-new/src/components/FaTimeline/ vikas@factors.ai
/frontend-new/src/components/GranularityOptions/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/GroupedBarChart/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/HCBarLineChart/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/HCLineChart/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/HorizontalBarChart/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/HorizontalWindow/ baliga@factors.ai
/frontend-new/src/components/Icons/ baliga@factors.ai
/frontend-new/src/components/KPIComposer/ baliga@factors.ai
/frontend-new/src/components/MetricChart/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/MomentTz/ baliga@factors.ai
/frontend-new/src/components/NavigationBar/ vikas@factors.ai
/frontend-new/src/components/NoDataChart/ baliga@factors.ai
/frontend-new/src/components/NonClickableTableHeader/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/PivotTable/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/PivotTableControls/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/PrivateRoute/ akhil@factors.ai
/frontend-new/src/components/Profile/ vikas@factors.ai
/frontend-new/src/components/ProfileComposer/ vikas@factors.ai
/frontend-new/src/components/ProjectModal/ vikas@factors.ai
/frontend-new/src/components/QueryCommons/ComposerBlock/ akhil@factors.ai
/frontend-new/src/components/QueryComposer/ akhil@factors.ai
/frontend-new/src/components/SaveQuery/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/ScatterPlotChart/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/SearchBar/ akhil@factors.ai jitesh@factors.ai
/frontend-new/src/components/SearchCheckList/ vikas@factors.ai
/frontend-new/src/components/ShareToEmailModal/ baliga@factors.ai
/frontend-new/src/components/ShareToSlackModal/ baliga@factors.ai
/frontend-new/src/components/Sidebar/ baliga@factors.ai
/frontend-new/src/components/SparkChartWithCount/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/SparkLineChart/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/StackedAreaChart/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/StackedBarChart/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/SuspenseLoaders/ akhil@factors.ai baliga@factors.ai jitesh@factors.ai
/frontend-new/src/components/factorsComponents/ baliga@factors.ai

/integrations/ kartheek+1@factors.ai ashhar@factors.ai

/python_backend/ kartheek+1@factors.ai ashhar@factors.ai

/sdk/javascript/ dinesh@factors.ai akhil@factors.ai

All Accounts Support for Segment with Global Properties (#8973)
  backend/src/factors/model/store/memsql/timelines.go
  frontend-new/src/components/Profile/AccountProfiles/accountProfiles.helpers.js
  frontend-new/src/components/Profile/AccountProfiles/index.js
  frontend-new/src/reducers/userProfilesView/selectors.js
Owners: aravind@factors.ai, dinesh@factors.ai, janani@factors.ai, kartheek+1@factors.ai, vikas@factors.ai, akhil@factors.ai, baliga@factors.ai, jitesh@factors.ai

Hotfix - Timelines Navigation Issues (#8989)
  frontend-new/src/Views/AppSidebar/AccountsSidebar.js
  frontend-new/src/Views/AppSidebar/ProfilesSidebar.js
  frontend-new/src/Views/Settings/ProjectSettings/IntegrationSettings/util.js
  frontend-new/src/components/Profile/AccountProfiles/AccountDetails.js
  frontend-new/src/components/Profile/AccountProfiles/index.js
  frontend-new/src/components/Profile/UserProfiles/index.js
  frontend-new/src/reducers/accountProfilesView/index.js
  frontend-new/src/reducers/userProfilesView/index.js
Owners: akhil@factors.ai, baliga@factors.ai, jitesh@factors.ai, vikas@factors.ai

fetching always latest value from account currency (#8995)
  backend/src/factors/model/store/memsql/adwords_document.go
  backend/src/factors/model/store/memsql/bingads_document.go
  backend/src/factors/model/store/memsql/facebook_document.go
  backend/src/factors/model/store/memsql/linkedin_document.go
Owners: aravind@factors.ai, dinesh@factors.ai, janani@factors.ai, kartheek+1@factors.ai

Fixed for g2 not having domain (#8993)
  backend/src/factors/task/g2/pull_data.go
Owners: janani@factors.ai, maisa@factors.ai, vinith@factors.ai

G2 integration UI (#8980)
  backend/src/factors/migrations/db/memsql/51_alter_table_prpject_settings.sql
  backend/src/factors/model/model/project_setting.go
  backend/src/factors/model/store/memsql/project_setting.go
  frontend-new/src/Views/Settings/ProjectSettings/IntegrationSettings/G2/index.js
  frontend-new/src/Views/Settings/ProjectSettings/IntegrationSettings/index.js
  frontend-new/src/components/svgIcons/iconsList3.js
  frontend-new/src/reducers/global/index.js
Owners: aravind@factors.ai, dinesh@factors.ai, janani@factors.ai, kartheek+1@factors.ai, baliga@factors.ai, akhil@factors.ai, jitesh@factors.ai, vikas@factors.ai

Hotfix - set hubspot meeting engagement start and end time as datetime property (#8988)
  backend/src/factors/integration/hubspot/hubspot.go
  backend/src/factors/tests/model_hubspot_test.go
Owners: maisa@factors.ai, viknesh@factors.ai

Event trigger alert teams template (#9005)
  backend/src/factors/scripts/run_event_trigger_alerts/run_event_trigger_alerts.go
Owners: aravind@factors.ai, dinesh@factors.ai, janani@factors.ai, kartheek+1@factors.ai

navigation catches (#8999)
  frontend-new/src/components/Profile/AccountProfiles/AccountDetails.js
  frontend-new/src/components/Profile/AccountProfiles/index.js
Owners: vikas@factors.ai

handling filter values path analysis (#9006)
  frontend-new/src/Views/PathAnalysis/PathAnalysisReport/QueryBuilder/EventFilter/index.js
  frontend-new/src/Views/PathAnalysis/PathAnalysisReport/QueryBuilder/index.js
  frontend-new/src/reducers/coreQuery/actions.js
  frontend-new/src/reducers/coreQuery/index.js
  frontend-new/src/reducers/coreQuery/middleware.js
  frontend-new/src/reducers/coreQuery/services.js
  frontend-new/src/reducers/coreQuery/utils.js
Owners: baliga@factors.ai, akhil@factors.ai, jitesh@factors.ai, vikas@factors.ai

Script for backfill user domains (#9002)
  backend/src/Dockerfile.backfill_users_domain
  backend/src/Makefile
  backend/src/factors/migrations/scripts/run_backfill_users_domain/run_backfill_users_domain.go
  k8/production/jobs/backfill_user_domains.yaml
  k8/staging/jobs/backfill_user_domains.yaml
Owners: aravind@factors.ai, dinesh@factors.ai, janani@factors.ai, kartheek+1@factors.ai

Teams error attempt 1 log removal hotfix (#9011)
  backend/src/factors/integration/ms_teams/ms_teams.go
  backend/src/factors/scripts/run_event_trigger_alerts/run_event_trigger_alerts.go
Owners: aravind@factors.ai, dinesh@factors.ai, janani@factors.ai, kartheek+1@factors.ai

HotFix: fixed visitor report past date data issue (#9013)
  frontend-new/src/features/6signal-report/types.ts
  frontend-new/src/features/6signal-report/ui/components/ReportTable/index.tsx
  frontend-new/src/features/6signal-report/ui/index.tsx
  frontend-new/src/features/6signal-report/ui/localStateReducer.ts
Owners: akhil@factors.ai, baliga@factors.ai, jitesh@factors.ai, vikas@factors.ai

segment creation bundle issue (#9018)
  frontend-new/src/components/GenericComponents/GroupSelect/index.tsx
Owners: akhil@factors.ai, baliga@factors.ai, jitesh@factors.ai, vikas@factors.ai

Hotfix - Backfill user domains add Redis flags (#9020)
  backend/src/factors/migrations/scripts/run_backfill_users_domain/run_backfill_users_domain.go
Owners: aravind@factors.ai, dinesh@factors.ai, janani@factors.ai, kartheek+1@factors.ai

enable email domains (#9022)
  backend/src/factors/migrations/scripts/run_backfill_users_domain/run_backfill_users_domain.go
Owners: aravind@factors.ai, dinesh@factors.ai, janani@factors.ai, kartheek+1@factors.ai

enable email domains (#9022) (#9025)
  backend/src/factors/migrations/scripts/run_backfill_users_domain/run_backfill_users_domain.go
Owners: aravind@factors.ai, dinesh@factors.ai, janani@factors.ai, kartheek+1@factors.ai

High priority HC and alerts pausing time change hotfix (#9030)
  backend/src/factors/model/store/memsql/event_trigger_alerts.go
  backend/src/factors/scripts/run_event_trigger_alerts/run_event_trigger_alerts.go
Owners: aravind@factors.ai, dinesh@factors.ai, janani@factors.ai, kartheek+1@factors.ai

Now downloaded report and the table shown in the UI wil have same formatted data (#9029)
  frontend-new/src/features/6signal-report/ui/components/ReportTable/TableCell.tsx
  frontend-new/src/features/6signal-report/ui/components/ReportTable/index.tsx
  frontend-new/src/features/6signal-report/ui/components/ReportTable/utils.ts
Owners: akhil@factors.ai, baliga@factors.ai, jitesh@factors.ai, vikas@factors.ai

adding channel internal (#8997)
  backend/src/factors/model/model/default_channel_group.go
  backend/src/factors/model/model/event.go
  backend/src/factors/tests/task_add_session_test.go
  backend/src/factors/util/properties.go
Owners: aravind@factors.ai, dinesh@factors.ai, janani@factors.ai, kartheek+1@factors.ai

Showing Associated Account Domain for User Details (#9031)
  backend/src/factors/model/model.go
  backend/src/factors/model/model/tl_profile.go
  backend/src/factors/model/store/memsql/timelines.go
  backend/src/factors/model/store/memsql/user.go
  backend/src/factors/tests/handler_timeline_test.go
  frontend-new/src/components/Profile/UserProfiles/ContactDetails.js
  frontend-new/src/reducers/timelines/utils.js
Owners: aravind@factors.ai, dinesh@factors.ai, janani@factors.ai, kartheek+1@factors.ai, vikas@factors.ai, akhil@factors.ai, baliga@factors.ai, jitesh@factors.ai

Reverse merge #9029
  frontend-new/src/features/6signal-report/ui/components/ReportTable/TableCell.tsx
  frontend-new/src/features/6signal-report/ui/components/ReportTable/index.tsx
  frontend-new/src/features/6signal-report/ui/components/ReportTable/utils.ts
Owners: akhil@factors.ai, baliga@factors.ai, jitesh@factors.ai, vikas@factors.ai

Reverse merge #9029
  frontend-new/src/features/6signal-report/ui/components/ReportTable/TableCell.tsx
  frontend-new/src/features/6signal-report/ui/components/ReportTable/index.tsx
  frontend-new/src/features/6signal-report/ui/components/ReportTable/utils.ts
Owners: akhil@factors.ai, baliga@factors.ai, jitesh@factors.ai, vikas@factors.ai

Hotfix - Add query parameter to show property labels in KPI filters (#9015)
  backend/src/factors/handler/v1/kpi_analytics.go
  frontend-new/src/reducers/kpi.js
Owners: aravind@factors.ai, dinesh@factors.ai, akhil@factors.ai, baliga@factors.ai, jitesh@factors.ai, vikas@factors.ai
